force-app/main/default/flows/SELA_Line_Item_Flow_v_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>fmField</name>
        <label>수식필드</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TotalAddOnPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fm_TotalAddOnPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fm_TotalListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalSubPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fm_TotalSubPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fm_TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Add</name>
        <label>Total Add</label>
        <locationX>270</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>SELA_Rollup.Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SELA_Item_Loop.TotalPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SELA_Rollup.List_Price_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SELA_Item_Loop.TotalListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total</name>
        <label>Update Total</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>TotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DC_TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalListPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DC_TotalListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SELA_Item_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Group_Check</name>
        <label>Group Check</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>SELA_Item_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Group_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SELA_Item_Loop.SELAProduct__r.DCGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SELAProduct__r.DCGroup__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SELA_Item_Loop.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SELA_Item_Loop.SELAProduct__r.SubscriptionDcRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total</targetReference>
            </connector>
            <label>Group Same</label>
        </rules>
    </decisions>
    <decisions>
        <description>1. 해당 SELA Item 의 Product 가 DC Rate Check 해야하는지</description>
        <name>Product_DC_Rate_Check</name>
        <label>Product DC Rate Check</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>fmField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Is_DC_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SELAProduct__r.SubscriptionDcRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SELA_Items</targetReference>
            </connector>
            <label>Is DC Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>DC_TotalListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!SELA_Item_Loop.TotalListPrice__c}*{!$Record.SELAProduct__r.ListDcRate__c}*{!$Record.Quantity__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DC_TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!SELA_Item_Loop.TotalPrice__c}*{!$Record.SELAProduct__r.SubscriptionDcRate__c}*{!$Record.Quantity__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fm_TotalAddOnPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SELAProduct__r.AddOnSubscriptionYearly__c}*{!$Record.AddOnQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fm_TotalListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SELAProduct__r.ListPriceYearly__c}*({!$Record.Quantity__c}+{!$Record.AddOnQuantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fm_TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SELAProduct__r.SubscriptionYearly__c}*{!$Record.Quantity__c} + {!$Record.SELAProduct__r.AddOnSubscriptionYearly__c}*{!$Record.AddOnQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fm_TotalSubPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity__c}*{!$Record.SELAProduct__r.SubscriptionYearly__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SELA Line Item Flow v.1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SELA Line Item Flow v.1</label>
    <loops>
        <name>Rollup</name>
        <label>돌면서 Rollup</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <collectionReference>SELA_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Add</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>SELA_Item_Loop</name>
        <label>SELA Item Loop</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>SELA_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Group_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DC_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>1. 해당 SELA ID와 같은 SELA Item Query</description>
        <name>SELA_Items</name>
        <label>SELA Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SELA_Item_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SELA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SELA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SelaProductLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SELA_Rollup</name>
        <label>SELA Rollup</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rollup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SELA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sela__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DC_Update</name>
        <label>DC Update</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>SELA_Rollup</targetReference>
        </connector>
        <inputAssignments>
            <field>TotalListPrice__c</field>
            <value>
                <elementReference>TotalListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice__c</field>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Total_Update</name>
        <label>Total Update</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>SELA_Rollup</targetReference>
        </connector>
        <inputAssignments>
            <field>AddOnTotalSubscriptionPrice__c</field>
            <value>
                <elementReference>TotalAddOnPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalListPrice__c</field>
            <value>
                <elementReference>TotalListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice__c</field>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalSubscriptionPrice__c</field>
            <value>
                <elementReference>TotalSubPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_DC_Rate_Check</targetReference>
        </connector>
        <object>SelaProductLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Product_DC_Rate_Check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SelaProductLineItem__c</objectType>
    </variables>
    <variables>
        <name>SELA_TotalListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SELA_TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>현재 SELA Product Item에 들어갈 TotalAddOnPrice</description>
        <name>TotalAddOnPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>현재 SELA Product Item에 들어갈 TotalListPrice</description>
        <name>TotalListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>현재 SELA Product Item에 들어갈 TotalPrice</description>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalSubPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
